.container-sm.clearfix.help {
    box-shadow: 0 20px 32px -18px rgba(0, 0, 0, 0.3);
}
.box-img img {
    max-width: 100%;
}
header .menu ul.navbar-nav > li a {
    text-transform: uppercase;
}
@media(min-width:1025px){

.navbar-nav > li:first-child a {
font-size: 0;
       padding: 12px !important;

}
.navbar-nav > li:first-child a:after {
     
    content: "\f015";
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;font-size: 30px;color: #00b9ef;
}

}
#list-house .box a {
    background-position: center center;
    background-size: cover;
    display: block;
    height: 191px;
}
#list-house .box .bg-white {
      height: 140px;
    overflow: hidden;
}
.no-image {
    background-color: gray;
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 190px;
    text-align: center;
    text-transform: uppercase;
}
footer .menu li a {
    
    text-transform: uppercase;
}
.dpe-flexible-posts li {
    list-style: none;
    overflow: hidden;
    margin: 0 0 15px;
}
.dpe-flexible-posts {
    margin:0;
    padding: 0;
}
.dpe-flexible-posts li  img {
    max-width: 90px;
    max-height: 90px;
    float: left;
    margin-right: 10px;
}
/* .title {
    overflow: hidden;
    color: #000;
} */
.title-black {
    text-transform:     uppercase;
}

@media(min-width: 768px) {
    .help .left-panel .block .list .blue-bullet .camnang {
        display: inline-block;
        float: none;
        padding-bottom: 20px;
        vertical-align: top;
        width: 48%;
    }
}
.blog .banner {
    min-height: 325px;
}