
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: relative;

    .header {
        min-height: 225px;
        background-image: url('../images/bg_header.PNG');
        background-size: cover;

        .action-link {
            padding: 0 22px;
            margin: 0;
            position: relative;
            float: right;
            min-height: 52px;
            background-image: url('../images/bg_action.png');
            background-size: 100%;
            background-position: 0 116px;

            li {
                list-style: none;
                display: inline-block;
                padding: 13px 0px;

                a {
                    color: #3d3d3d;
                }
            }
        }

        h1 {
            margin: 0;
            padding: 0;
            font-size: 0;
        }
    }

    .menu {
        background-color: #fff;
        border: 1px solid #fff;
        border-top: 0;
        border-bottom: 0;
        border-radius: 5px;
        position: absolute;
        margin-top: -30px;
        min-height: 58px;
        width: 100%;
        max-width: 1165px;

        @include device {
            width: 90%;
            left: 5%;

            .dropdown-menu.sub-menu {
                width: 100%;
                position: relative;
                @include box-shadow(none);
                @include border-radius(0);
                border: none;
                padding-left: 30px;

                li {
                    a {
                        padding: 10px 15px;
                    }
                }
            }
        }

        nav,
        ul {
            padding: 0;
            margin: 0;
        }

        ul.navbar-nav {
            > li {
                position: relative;

                a {
                    color: #3d3d3d;
                    padding: 19px 15px;

                    .fa-home,
                    .fa-bars {
                        display: block;
                        font-size: 30px;
                        line-height: 20px;
                    }

                    &:hover {
                        background-color: transparent;
                        color: $blue-secondary-color;
                    }
                }

                &.active {
                    &:after {
                        content: "";
                        width: 100%;
                        height: 5px;
                        background-color: $blue-secondary-color;
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                    }

                    > a {
                        color: $blue-secondary-color;
                    }
                }

                &:before {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 50%;
                    left: 0;
                    top: 50%;
                    background-color: #ebeced;
                    @include translate2D(0,-50%);
                }

                &:first-child:before,
                &:last-child:before {
                    content: none;
                }

                &:last-child {
                    a {
                        padding: 17px 9px;
                    }
                }
            }
        }

        .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
            background-color: transparent;
        }

        li {
            .dropdown-menu.sub-menu {
                min-width: 160px;
                border: 0;
                background-color: transparent;
                @include box-shadow(none);
                background-image: url('../images/sub_menu.PNG');
                background-position: 0 -2px;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                list-style: none;
                padding: 15px 20px;
                left: 50%;
                @include translate2D(-50%,0);
                border-top: 5px solid $blue-primary-color;

                li {
                    position: relative;
                    border-bottom: 1px solid #7bc7e8;

                    &:last-child {
                        border-bottom: 0;
                    }

                    &:before {
                        content: "\f111";
                        font: normal normal normal 14px/1 FontAwesome;
                        color: #00AAEB;
                        font-size: 8px;
                        position: absolute;
                        left: 0;
                        top: 15px;
                    }

                    a {
                        padding: 10px 15px;
                    }
                }
            }

            &.active {
                .dropdown-menu.sub-menu {
                    margin-top: 3px;
                    border-top: none;
                }
            }
        }
    }

    .icon-mobile {
        .fa-home,
        .fa-bars {
            display: none;
            font-size: 30px;
            line-height: 20px;

            @include device {
                display: block;
            }
        }

        .fa-bars {
            color: #797a7c;
        }

        span {
            padding: 17px 20px;

            &.current-menu {
                position: relative;

                &:after {
                    content: "";
                    width: 1px;
                    top: 20%;
                    height: 60%;
                    background-color: #ebeced;
                    position: absolute;
                    left: 0;
                }
            }

            a {
                color: #4d4d4d;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        @include desktop {
            display: none;
        }
    }

    @include device {
        .navbar-toggle {
            display: block;
        }
    }

    @include desktop {
        .navbar-collapse.collapse {
            display: block !important;
            height: auto !important;
            padding-bottom: 0;
            overflow: visible !important;
        }
    }
}
